<h1> Chart Selector </h1>
<div style="margin:20px;">

  <h3>Chart Type</h3>
  <!--Step 1 - Select A Chart-->
  <select [ngModel]="chartType" (ngModelChange)="selectChart($event)" value="group.charts[0].name">
      <option [value]="undefined">Please select a Chart</option>
    <ng-template ngFor let-group [ngForOf]="chartGroups">
        <option *ngFor="let chart of group.charts" [value]="chart.selector">{{chart.name}}</option>
    </ng-template>
  </select>

  <!-- Set 2 - Select a Query To Execute-->
  <div *ngIf="dataVisible" style="margin-left: 10px;">
    <h3 style="cursor: pointer"><strong>Get Data</strong></h3>
    <label>QueryToExecute</label><br />
    <input [(ngModel)]="queryToExecute" type="text" />
    <input type="button" value="Get ConnectBridge Data" (click)="getConnectBridgeData()" />
  </div>

  <!-- Step 3 - Select The Options -->
  <div *ngIf="optionVisible" style="margin-left: 10px;">
    <h3 style="cursor: pointer"><strong>Options</strong></h3>
    <div *ngIf="chart.options.includes('animations')">
      <label>
        <input type="checkbox" [checked]="animations" (change)="animations = $event.target.checked">
        Animations
      </label> <br />
    </div>
    <div *ngIf="chart.options.includes('showXAxis')">
      <label>
        <input type="checkbox" [checked]="showXAxis" (change)="showXAxis = $event.target.checked">
        Show X Axis
      </label> <br />
    </div>
    <!-- <div *ngIf="chart.options.includes('showRefLabels')">
  <label>
    <input type="checkbox" [checked]="showRefLabels" (change)="showRefLabels = $event.target.checked">
    Show Reference Labels
  </label> <br />
</div>
<div *ngIf="chart.options.includes('showRefLines')">
  <label>
    <input type="checkbox" [checked]="showRefLines" (change)="showRefLines = $event.target.checked">
    Show Reference Lines
  </label> <br />
</div> -->
    <div *ngIf="chart.options.includes('showYAxis')">
      <label>
        <input type="checkbox" [checked]="showYAxis" (change)="showYAxis = $event.target.checked">
        Show Y Axis
      </label> <br />
    </div>
    <div *ngIf="chart.options.includes('showGridLines')">
      <label>
        <input type="checkbox" [checked]="showGridLines" (change)="showGridLines = $event.target.checked">
        Show Grid Lines
      </label> <br />
    </div>
    <div *ngIf="chart.options.includes('roundDomains')">
      <label>
        <input type="checkbox" [checked]="roundDomains" (change)="roundDomains = $event.target.checked">
        Round Domains
      </label> <br />
    </div>
    <div *ngIf="chart.options.includes('gradient')">
      <label>
        <input type="checkbox" [checked]="gradient" (change)="gradient = $event.target.checked">
        Use Gradients
      </label> <br />
    </div>
    <div *ngIf="chart.options.includes('showLegend')">
      <label>
        <input type="checkbox" [checked]="showLegend" (change)="showLegend = $event.target.checked">
        Show Legend
      </label> <br />
    </div>
    <div *ngIf="chart.options.includes('showDataLabel')">
      <label>
        <input type="checkbox" [checked]="showDataLabel" (change)="showDataLabel = $event.target.checked">
        Show Data Label
      </label> <br />
    </div>
    <div *ngIf="chart.options.includes('roundEdges')">
      <label>
        <input type="checkbox" [checked]="roundEdges" (change)="roundEdges = $event.target.checked">
        Round Bar Edges
      </label> <br />
    </div>
    <div *ngIf="chart.options.includes('legendTitle')">
      <label>Legend Title:</label><br />
      <input type="text" [(ngModel)]="legendTitle"><br />
    </div>
    <div *ngIf="chart.options.includes('legendPosition')">
      <label>Legend Position:</label><br />
      <select style="margin-left: 10px;" [(ngModel)]="legendPosition">
        <option value="right">Right</option>
        <option value="below">Below</option>
      </select><br />
    </div>
    <div *ngIf="chart.options.includes('tooltipDisabled')">
      <label>
        <input type="checkbox" [checked]="tooltipDisabled" (change)="tooltipDisabled = $event.target.checked">
        Disable tooltip
      </label> <br />
    </div>
    <div *ngIf="chart.options.includes('showXAxisLabel')">
      <label>
        <input type="checkbox" [checked]="showXAxisLabel" (change)="showXAxisLabel = $event.target.checked">
        Show X Axis Label
      </label> <br />
    </div>
    <div *ngIf="chart.options.includes('showYAxisLabel')">
      <label>
        <input type="checkbox" [checked]="showYAxisLabel" (change)="showYAxisLabel = $event.target.checked">
        Show Y Axis Label
      </label> <br />
    </div>
    <div *ngIf="chart.options.includes('yAxisLabel')">
      <label>Y Axis Label:</label><br />
      <select [(ngModel)]="yAxisLabel">
        <option *ngFor="let column of columns" [ngValue]="column">{{column.name}}</option>
      </select>
      <!-- <input type="text" [(ngModel)]="yAxisLabel"><br /> -->
    </div>
    <div *ngIf="chart.options.includes('xAxisLabel')">
      <label>X Axis Label:</label><br />
      <select [(ngModel)]="xAxisLabel">
        <option *ngFor="let column of columns" [ngValue]="column">{{column.name}}</option>
      </select>
    </div>
    <div *ngIf="chart.options.includes('showLabels')">
      <label>
        <input type="checkbox" [checked]="showLabels" (change)="showLabels = $event.target.checked">
        Show Labels
      </label> <br />
    </div>
    <div *ngIf="chart.options.includes('doughnut')">
      <label>
        <input type="checkbox" [checked]="doughnut" (change)="doughnut = $event.target.checked">
        Doughnut
      </label> <br />
    </div>
    <div *ngIf="chart.options.includes('arcWidth') && doughnut">
      <label>Arc width (fraction of radius):</label><br />
      <input type="number" [disabled]="!doughnut" [(ngModel)]="arcWidth" max="1" min="0" step="0.01"><br />
    </div>
    <div *ngIf="chart.options.includes('explodeSlices') && !doughnut">
      <label>
        <input type="checkbox" [checked]="explodeSlices" (change)="explodeSlices = $event.target.checked">
        Explode Slices
      </label> <br />
    </div>
    <div *ngIf="chart.options.includes('autoScale')">
      <label>
        <input type="checkbox" [checked]="autoScale" (change)="autoScale = $event.target.checked">
        Auto Scale
      </label> <br />
    </div>
    <div *ngIf="chart.options.includes('timeline')">
      <label>
        <input type="checkbox" [checked]="timeline" (change)="timeline = $event.target.checked">
        Timeline
      </label> <br />
    </div>
    <!-- <div *ngIf="chart.options.includes('curve')">
  <label>Line Interpolation</label>
  <select [(ngModel)]="curveType" (ngModelChange)="curve = getInterpolationType($event)">
    <option *ngFor="let interpolationType of interpolationTypes" [value]="interpolationType">
      {{interpolationType}}
    </option>
  </select>
</div>
<div *ngIf="chart.options.includes('curveClosed')">
  <label>Line Interpolation</label>
  <select [(ngModel)]="closedCurveType" (ngModelChange)="closedCurve = getInterpolationType($event)">
    <option *ngFor="let interpolationType of closedInterpolationTypes" [value]="interpolationType">
      {{interpolationType}}
    </option>
  </select>
</div> -->
    <div *ngIf="chart.options.includes('min')">
      <label>Min value:</label><br />
      <input type="number" [(ngModel)]="gaugeMin"><br />
    </div>
    <div *ngIf="chart.options.includes('max')">
      <label>Max value:</label><br />
      <input type="number" [(ngModel)]="gaugeMax"><br />
    </div>
    <div *ngIf="chart.options.includes('innerPadding')">
      <label>Inner padding value:</label><br />
      <input type="text" [(ngModel)]="innerPadding" min="0" step="1"><br />
    </div>
    <div *ngIf="chart.options.includes('barPadding')">
      <label>Padding between bars:</label><br />
      <input type="number" [(ngModel)]="barPadding" min="0" step="1"><br />
    </div>
    <div *ngIf="chart.options.includes('groupPadding')">
      <label>Padding between groups:</label><br />
      <input type="number" [(ngModel)]="groupPadding" min="0" step="1"><br />
    </div>
    <div *ngIf="chart.options.includes('value')">
      <label>Value:</label><br />
      <input type="number" [(ngModel)]="gaugeValue"><br />
    </div>
    <div *ngIf="chart.options.includes('previousValue')">
      <label>Previous value:</label><br />
      <input type="number" [(ngModel)]="gaugePreviousValue"><br />
    </div>
    <div *ngIf="chart.options.includes('angleSpan')">
      <label>Angle span:</label><br />
      <input type="number" [(ngModel)]="gaugeAngleSpan"><br />
    </div>
    <div *ngIf="chart.options.includes('startAngle')">
      <label>Start Angle:</label><br />
      <input type="number" [(ngModel)]="gaugeStartAngle"><br />
    </div>
    <div *ngIf="chart.options.includes('gaugeValue')">
      <label>Column To Select:</label><br />
      <select style="margin-left: 10px;" [(ngModel)]="gaugeValue">
        <option *ngFor="let column of columns" [ngValue]="column">{{column.name}}</option>
      </select><br />
    </div>

    <div *ngIf="chart.options.includes('showAxis')">
      <label>
        <input type="checkbox" [checked]="gaugeShowAxis" (change)="gaugeShowAxis = $event.target.checked">
        Show Axis
      </label> <br />
    </div>
    <div *ngIf="chart.options.includes('largeSegments')">
      <label>Number of large segments:</label><br />
      <input type="number" [(ngModel)]="gaugeLargeSegments"><br />
    </div>
    <div *ngIf="chart.options.includes('smallSegments')">
      <label>Number of small segments:</label><br />
      <input type="number" [(ngModel)]="gaugeSmallSegments"><br />
    </div>
    <div *ngIf="chart.options.includes('units')">
      <label>Units:</label><br />
      <input type="text" [(ngModel)]="gaugeUnits"><br />
    </div>
    <div *ngIf="chart.options.includes('margin')">
      <label>
        <input type="checkbox" [checked]="margin" (change)="margin = $event.target.checked">
        Show Margin
      </label> <br />
    </div>

    <div *ngIf="chart.options.includes('margin') && margin">
      <label>Top:</label><input type="number" [(ngModel)]="marginTop"><br />
      <label>Right:</label><input type="number" [(ngModel)]="marginRight"><br />
      <label>Bottom:</label><input type="number" [(ngModel)]="marginBottom"><br />
      <label>Left:</label><input type="number" [(ngModel)]="marginLeft"><br />
    </div>

    <div *ngIf="chart.options.includes('minRadius')">
      <label>Minimum Radius:</label><input type="number" [(ngModel)]="minRadius">
    </div>

    <div *ngIf="chart.options.includes('maxRadius')">
      <label>Maximum Radius:</label><input type="number" [(ngModel)]="maxRadius">
    </div>

    <!-- <div *ngIf="chart.options.includes('xScaleMin')">
  <div *ngIf="chartType !== 'bubble-chart'">
    <label></label><br />
    <ngx-date-time [inputType]="'datetime'" label="Minimum X-Scale value" [(ngModel)]="xScaleMin">
    </ngx-date-time>
  </div>
  <div *ngIf="chartType === 'bubble-chart'">
    <label>Minimum X-Scale value</label><br />
    <input type="number" [(ngModel)]="xScaleMin"><br />
  </div>
</div> -->

    <!-- <div *ngIf="chart.options.includes('xScaleMax')">
<div *ngIf="!chartType.startsWith('bar-horizontal') && chartType !== 'bubble-chart'">
  <ngx-date-time *ngIf="!chartType.startsWith('bar-horizontal')" [inputType]="'datetime'" label="Maximum X-Scale value"
                 [(ngModel)]="xScaleMax">
  </ngx-date-time>
</div> -->
    <div *ngIf="chartType.startsWith('bar-horizontal') || chartType === 'bubble-chart'">
      <label>Maximum X-Scale value</label><br />
      <input type="number" [(ngModel)]="xScaleMax"><br />
    </div>
    <div *ngIf="chart.options.includes('yScaleMin')">
      <label>Minimum Y-Scale value</label><br />
      <input type="number" [(ngModel)]="yScaleMin"><br />
    </div>
    <div *ngIf="chart.options.includes('yScaleMax')">
      <label>Maximum Y-Scale value</label><br />
      <input type="number" [(ngModel)]="yScaleMax"><br />
    </div>

    <input type="button" value="Add Chart" (click)="add_chart_click()" />
  </div>
</div>


<h1> App Selector </h1>
<div style="margin:20px; ">
  <!-- Step #1 Add A New PowerApp -->
  <div style="margin-left: 10px;">
    <h3 style="cursor: pointer"><strong>Apps</strong></h3>
    <select [(ngModel)]="appType">
      <option *ngFor="let app of apps" [value]="undefined">Please select an App</option>
      <option *ngFor="let app of apps" [value]="app.selector">{{app.name}}</option>
    </select>
    <input type="button" value="AddApp" (click)="onAppButtonClick()" />
  </div>
</div>


<h1> Text Selector </h1>
<div style="margin:20px; ">
  <!-- Add A Text Field -->
  <div style="margin-left: 10px;">
    <h3 style="cursor: pointer"><strong>Text</strong></h3>  
    <label for="font-size" >Font-Size</label> 
    <input id="font-size" [(ngModel)]="fontsize" type="text"/>
    <label for="color">Color</label> 
    <input id="color" [(ngModel)]="color" type="text"/>
    <label for="text">Text</label>     
    <input id="text" [(ngModel)]="text" type="text"/>
    <label for="fontFamily">Font Type</label>     
    
    <select [(ngModel)]="fontfamily">
        <option [value]="undefined">Please select a Font Family</option>
      <ng-container *ngFor="let fonts of fontGroups">
          <option *ngFor="let font of fonts.fonts" [value]="font.value">{{font.value}}</option>
      </ng-container>
    </select>
    <input type="button" value="Add Text" (click)="onTextAddClick()" />    
  </div>
</div>

<h1> Upload Logo </h1>
<div style="margin:20px; ">
  <!-- Add A Text Field -->
  <div style="margin-left: 10px;">
    <input (change)="onFileChange($event)" type="file" file-model="myFile"/>
    <input type="button" value="Upload" (click)="onUploadLogo()" />    
  </div>
</div>