#plc-status {
    background-color: #666666; 
    float: left;
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
}

#plc-title {
    background-color: #3A9EA2;
    padding: 20px;
    color: white;
    font-size: 20px;
}

#machine-control {
    float: left;
    height: 100%;
    width: 60%;
}

#app-wrapper {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 100%;
    height: 100%;
}

.data-show {
    color: white;
    font-size: 17px;
}

.header {
    text-align:center;
    padding: 5px;
}

hr {
    color: white;
    background-color: white;
    height: 2px;
    border:none;
    margin-top: 5px;
    margin-right: 20px;
    margin-left: 20px;
}

.item-group {
    display: flex;
}

.item-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.image {
    width: 50px;
    height: 50px;
}

.operation-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height:20%;
}

button {
    background-color: #3A9EA2;
    color: white;
    border-radius: 7px;
    border: white;
    height: 25px;
    width: 40%;
}

.machine-image {
    height: 80%;
}

.machine-image-resize {
    width:100%;
    height:100%;
}